* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #000014;
}

main {
    padding-bottom: 20px;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer {
    padding-bottom: 20px;
}

h1 {
    color: white;
    font-family: 'Lobster Two', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 4.8rem;
    -webkit-filter: drop-shadow(0 0 1px silver);
    filter: drop-shadow(0 0 1px silver);
}

/* Static variables*/
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.space-evenly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
}

.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

/* Style of element's*/

.container {
    min-height: 100vh;
    width: 100%;
    padding: 50px 50px 0 50px;
}

.title {
    margin-bottom: -2rem;
}

.inputWrapper {
    width: 100%;
}

.buttonWrapper {
    width: 100%;
}

.resultText {
    width: 90%;
    height: 80px;
    margin: 30px 0 30px 0;
    -webkit-box-shadow: 0 0 45px 0 rgba(209, 209, 209, 1);
    box-shadow: 0 0 45px 0 rgba(209, 209, 209, 1);
    border-radius: 20px;
}
.result {
    padding: 0 20px 0 20px;
    font-weight: bold;
}
form {
    width: 70%;
    max-width: 750px;
    min-height: 50vh;
    border-radius: 20px;
    padding: 1rem 2rem;
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    -webkit-box-shadow: 0 0 45px 0 rgba(209, 209, 209, 1);
    box-shadow: 0 0 45px 0 rgba(209, 209, 209, 1);
}

label {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

label > span {
    font-weight: bold;
    font-size: 20px;
    padding: 1rem 0 1rem 0;
}

textarea {
    overflow: auto;
    width: 90%;
    height: 180px;
    resize: none;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    -webkit-box-shadow: 12px 6px 20px -11px rgba(173, 173, 173, 1);
    box-shadow: 12px 6px 20px -11px rgba(173, 173, 173, 1);
    outline: none;
}

button {
    min-width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: #FFFFFF;
    background: -o-linear-gradient(220deg, #a24bcf, #4b79cf);
    background: linear-gradient(230deg, #a24bcf, #4b79cf);
    background-size: 100%;
    border: 0;
    border-radius: 40px;
}

button:hover {
    cursor: pointer;
}

.copyrights {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
